#top-image {
    padding: 70px;
    background: url('../Images/flower-background.jpg') center fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: calc(100% + 75px);

}

@media only screen and (max-width : 480px){
    #top-image {
        padding: 70px;
        background: url('../Images/flower-background.jpg') no-repeat center center fixed;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

img.SMThumbnail {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
}