
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106883908-1"></script>
    <script src="~/Scripts/GoogleAnalytics.js"></script>

    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/ooer.css" rel="stylesheet" />
    <title class="a">Home</title>
</head>
<body>
    <div class="titlebox">
        <p></p>
        <div class=" btn btn-success">
            @Html.ActionLink("go back", "Index")
        </div>

        <h3>whereami</h3>
    </div>
    <div>
        <a href="http://www.eeemo.net/">
            I̧͓̱̲̣̩̗̲̦͙ ̡҉̷͈̣͙̥͚͙͔̮l͕̬̙̘͓o̡͚̮̣̯̥v̩̰͔̜̞̝̳̖̙̀́e̢̥̜͚̠ ̠̹͈g̜̭͘a̜̣̗̲̠͕̖r̜̜̼͙̙̞̘͎l̨͙̬̯̹͎̫ͅį͓̣̯͉̝͇̫͟ͅc̰͈͚̭͡ ͈͇͚̝̹̬̥͔b̶̲̰ŕ̸̘̯̞͇͖e̙̪̭͍̳̙͔̮a̞̮̠ͅd̺̣̘̲͓
        </a> <strong><em>GARKWEK</em></strong>

        
    </div>
</body>
</html>