@{
    ViewBag.Title = "Sam Gosman";
}


<!DOCTYPE html>

<html>
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106883908-1"></script>
    <script src="~/Scripts/GoogleAnalytics.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body >
    
    <div c> 
        <h1>Welcome!</h1>
        <p>Hello! my name is <strong>Sam Gosman</strong>, and I am a Computer Science student at Indiana University Southeast. I am currently employeed at
        <a href="https://public.zirmed.com/">ZIRMED</a>
        in their internship program.</p> 
        <p>I will graduate from IU December 2017 with a B.S. in Computer Science and a minor in buisness management, I have a wide range of hobbies and intrests spanning
        from music, to brewing beer, and creating small games</p>
        <p>I've created this website to be a quick refrence for anybody looking to see my professional experinces and to be able to contact me.</p>
        <img src="~/Images/0925171109.jpg" class="img-thumbnail" height="300" width="250" />
        
    </div>
</body>
</html>
