<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>.white-link{color:#fff;}</style>
</head>
<body>
    <div class="container" style="width:200px;">
        <div class="panel panel-primary">
            <div class="panel-heading" id="panel-head">


                <a data-toggle="collapse" data-target="#collapseDiv" class="white-link" id="toggle">
                    Menu
                    <span class=" glyphicon glyphicon-chevron-down" id="glyphicon"></span>
                </a>

            </div>


            <div id="collapseDiv" class="panel-collapse collapse">
                    @Html.ActionLink("Home", "Index", null,
                         new { @class = "btn btn-block btn-default btn-lg" })
                    @Html.ActionLink("Resume", "Resume", null,
                        new { @class = "btn btn-block btn-default btn-lg" })
                    @Html.ActionLink("Social", "SocialMedia", null,
                        new { @class = "btn btn-block btn-default btn-lg" })
                    @Html.ActionLink("Contact", "Contact", null,
                        new { @class = "btn btn-block btn-default btn-lg" })
                </div>
            </div>
        </div>
</body>
</html>

