@{
    ViewBag.Title = "My Resume";
}
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106883908-1"></script>
    <script src="~/Scripts/GoogleAnalytics.js"></script>
    <!-- Google Tag Manager -->
    <script src="~/Scripts/GTMFileDownload.js"></script>

</head>
<h2>My Resume</h2>
<div>
    <a class="right" href="~/File/SamGosmanResume.pdf" onclick="dataLayer.push({ 'event': 'deposit-form-download' });" target="_blank">Download</a>
</div>
<embed src="~/File/SamGosmanResume.pdf" type="application/pdf" width="800px" height="900px"></embed>


