@{
    ViewBag.Title = "My Resume";
}

    
<h2 class="text-center">My Resume</h2>
    <div>
            <a id="resume" class="glyphicon glyphicon-cloud-download center-block" href="~/File/SamGosmanResume.pdf"
                 target="_blank"> Download</a>

        <iframe src="https://drive.google.com/file/d/0Bz1f1g9QwX84YXZWMFFobDFSY1k/preview" height="800" width="100%"></iframe>
        
    </div>

<script>$(#resume).attr("onclick", "dataLayer.push({ 'event': 'deposit-form-download' });"); </script>