
@{
    ViewBag.Title = "Social Media";
}
 <h1 class="text-center"><strong>Follow me on social media!</strong></h1>
    <div class="center-block">
    <a href="https://www.linkedin.com/in/sam-gosman-7a6ba010b">
        <img class="SMThumbnail" src="~/Images/LinkedIn.png" />
    </a>
    <a  href="https://github.com/drbarber?tab=repositories">
        <img src="~/Images/github-sociocon.png" class="SMThumbnail" />
    </a>
    </div>

