<!DOCTYPE html>

<html>
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106883908-1"></script>
    <script src="~/Scripts/GoogleAnalytics.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Social Media</title>
</head>
<body>
    <div> 
        <h1><strong>Follow me on social media!</strong></h1>
    </div>
    <a href="https://www.linkedin.com/in/sam-gosman-7a6ba010b">
        <img src="~/Images/LinkedIn.png" style="width:150px; height:150px;" />
    </a>
    <a href="https://github.com/drbarber?tab=repositories">
        <img src="~/Images/github-sociocon.png" style="width:150px; height:150px;" />
    </a>
</body>
</html>
